@media screen and (max-width:1000px) {
    .main {
        background-position-y: 0px;
    }
    /*izza*/
    .header-left{
        padding-left: 50px;
    }
    .header-right{
        padding-right:50px
    }
    /*izza end*/
}
@media screen and (max-width:670px) {
    /*izza*/
    .header-left{
        padding-left: 30px;
        font-size: 14px;
    }
    .header-right{
        display: none;
    }
    .bar{
        display: block;
        padding-right: 30px;
        padding-top: 10px;
    }
    /*izza end*/
}