* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* untuk font */
    --font-bebasNeue: 'Bebas Neue', cursive;
    --font-lato: 'Lato', sans-serif;
    --font-lora: 'Lora', serif;
    --font-quicksand: 'Quicksand', sans-serif;
    /* cara pake: var(--font-lora); */
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: var(--font-quicksand);
    font-weight: 700;
}

.container {
    padding: 0 20px;
}


/* css izza */

header {
    height: 80px;
    background-color: rgb(0, 0, 0);
}


/* css izza end */


/* css hendri */

.main {
    height: 450px;
    background: url(../media/main-atas.jpg);
    background-size: cover;
    background-position-y: -380px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-title {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.952);
    padding: 20px;
}

.main-title p {
    font-size: 17px;
}

.title-button button {
    margin-top: 4rem;
    padding: 10px 20px;
    background-color: black;
    border: none;
    color: white;
    font-family: var(--font-quicksand);
    letter-spacing: 2px;
}

.title-button button:active {
    opacity: 0;
    transition: 2s;
}

.main-about {
    height: 500px;
    display: grid;
    grid-template-areas: "gambar penjelasan";
    grid-template-columns: 1fr 1fr;
    background-color: black;
}

.float-left {
    grid-area: gambar;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-right {
    grid-area: penjelasan;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.menu-description {
    height: 300px;
    border-radius: 10px;
    width: 400px;
    background: url(../media/michael-yuan-Sb_kSv-lUbg-unsplash.jpg);
    background-size: cover;
}

.menu-dish {
    height: 500px;
    text-align: center;
    color: white;
    background-color: black;
}


/* css hendri end */


/* css naya */


/* css naya end */


/* css hesti */


/* css hesti end */