* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* untuk font */
    --font-bebasNeue: 'Bebas Neue', cursive;
    --font-lato: 'Lato', sans-serif;
    --font-lora: 'Lora', serif;
    --font-quicksand: 'Quicksand', sans-serif;
    /* cara pake: var(--font-lora); */
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    font-family: var(--font-quicksand);
    font-weight: 700;
}

.container {
    padding: 0 40px;
}


/* css izza */

.header {
    height: 60px;
    background-color: black;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header-left {
    float: left;
    padding-left: 100px;
    font-weight: 400;
    padding-top: 10px;
}

.header-left span {
    color: darkorange;
}

.header-left a {
    text-decoration: none;
    color: white;
}

.header-right {
    float: right;
    padding-right: 100px;
    padding-top: 20px;
}

.header-right li {
    float: left;
    margin-left: 30px;
}

.nav {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}

.nav:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid darkorange;
    width: 50%;
    margin: auto;
    padding-bottom: 3px;
}

.bar {
    display: none;
}

.fa-bars {
    display: none;
    color: white;
    float: right;
}


/* css izza end */


/* css hendri */

.main {
    height: 460px;
    background: url(../media/main-atas.jpg);
    background-size: cover;
    background-position-y: -380px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-title {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.952);
    padding: 20px;
}

.main-title p {
    font-size: 17px;
}

.title-button button {
    margin-top: 4rem;
    padding: 10px 20px;
    background-color: black;
    border: none;
    color: white;
    font-family: var(--font-quicksand);
    letter-spacing: 2px;
}

.title-button button:active {
    opacity: 0;
    transition: 2s;
}

.main-about {
    height: 500px;
    display: grid;
    grid-template-areas: "gambar penjelasan";
    grid-template-columns: 1fr 1fr;
    background-color: black;
}

.float-left {
    grid-area: gambar;
    display: flex;
    justify-content: center;
    align-items: center;
}

.float-right {
    grid-area: penjelasan;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: justify;
}

.menu-description {
    height: 280px;
    width: 350px;
    background: url(../media/michael-yuan-Sb_kSv-lUbg-unsplash.jpg);
    background-size: cover;
}

.menu h1 {
    margin-bottom: 20px;
    border-bottom: 2px solid darkorange;
}

.menu-dish {
    height: 700px;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    padding-top: 100px;
}

.menu-dish h1 {
    margin-bottom: 100px;
}

.menu-dish h1::after {
    content: '';
    display: block;
    border-bottom: 2px solid darkorange;
    width: 10%;
    margin: auto;
    padding-bottom: 2px;
}

.menu-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.menu-one {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    width: 20%;
    background: url(../media/makanan-1.jpg);
    background-size: cover;
}

.menu-two {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    width: 20%;
    background: url(../media/makanan-2.jpg);
    background-size: cover;
}

.menu-three {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    width: 20%;
    background: url(../media/chad-montano-eeqbbemH9-c-unsplash.jpg);
    background-size: cover;
}

.menu-four {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;
    width: 20%;
    background: url(../media/fatima-akram-4R_FKg8xG-M-unsplash.jpg);
    background-size: cover;
}

.menu-wrapper p {
    display: none;
}

.menu-one:hover,
.menu-two:hover,
.menu-three:hover,
.menu-four:hover {
    opacity: .7;
    transition: 1s;
}

.menu-one:hover p,
.menu-two:hover p,
.menu-three:hover p,
.menu-four:hover p {
    display: block;
    color: white;
    position: relative;
    opacity: 1;
}


/* css hendri end */


/* css hesti  */


/* css hesti end */


/* css gusti */


/* css gusti end */